.blog {
  padding: 120px 0 0 0;

  @media (max-width: 1080px) {
    padding: 100px 0 0 0;
  }

  .title {
    margin: 0;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }
  // .case__inner

  &__inner {
  }

  .bread {
    margin-bottom: 10px;

    .circle {
      background-color: var(----black);
    }
  }
}

.blogs {
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    @media (max-width: 1080px) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 12px;
    }

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }

    &__item {
      box-shadow:
        0 4px 6px -2px rgba(16, 24, 40, 0.03),
        0 12px 16px -4px rgba(16, 24, 40, 0.08);
      background: #fff;

      padding: 24px;
      border-radius: 12px;

      .static-btn {
        display: flex;
        .text {
          width: 100%;
        }
        .circle {
          min-width: 62px;
        }
      }
    }
  }
}

.blogs-list {
  // .blogs-list__item

  &__item {
    &:hover {
      .blogs-list__item-img {
        img {
          transform: scale(1.12);
        }
      }
    }
  }

  // .blogs-list__item-img

  &__item-img {
    overflow: hidden;
    border-radius: 12px;

    img {
      border-radius: 12px;
      width: 100%;
      transform: scale(1.08);
      height: 100%;
    }
  }

  // .blogs-list__item-muted

  &__item-muted {
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    text-transform: uppercase;
    color: #000;

    margin: 24px 0 12px 0;
  }

  // .blogs-list__item-title

  &__item-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #101828;
  }

  // .blogs-list__item-subtitle

  &__item-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #667085;

    margin: 14px 0 28px 0;
  }
}

.blogs-list.is-loading {
  position: relative;
  pointer-events: none;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}
