.breadcrumps {
  // .breadcrumps__list

  &__list {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  // .breadcrumps__list-item

  &__list-item {
    opacity: 0.3;
    pointer-events: none;

    &:last-child {
      opacity: 1;
      pointer-events: all;
    }

    * {
      color: #fff;
    }
  }

  // .breadcrumps__list-link

  &__list-link {
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.04em;
    color: #fff;

    @media (max-width: 440px) {
      font-size: 13px;
    }
  }

  // .breadcrumps__list-slash

  &__list-slash {
    color: #fff !important;
  }
}

.bread {
  display: flex;
  align-items: center;
  gap: 20px;

  margin-bottom: 14px;

  @media (max-width: 440px) {
    gap: 14px;
  }
}

.bread .circle {
  display: block;
  width: 2px;
  height: 2px;
  background-color: #fff;
}
