.case {
  padding: 120px 0 0 0;

  @media (max-width: 1080px) {
    padding: 100px 0 0 0;
  }

  .title {
    margin: 0;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }
  // .case__inner

  &__inner {
  }

  .bread {
    margin-bottom: 10px;

    .circle {
      background-color: var(----black);
    }
  }
}

.case-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  row-gap: 40px;

  @media (max-width: 1080px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 42px;
  }

  @media (max-width: 640px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 42px;
  }

  // .case-items__item

  &__item {
  }

  // .case-items__item-image

  &__item-image {
    position: relative;
    height: 220px;

    overflow: hidden;
    border-radius: 12px;

    &::before {
      content: "";
      position: absolute;
      inset: 0;

      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15) 0%,
        rgba(0, 0, 0, 0.4) 40%,
        rgba(0, 0, 0, 0.7) 100%
      );

      z-index: 1;
    }

    &:hover {
      img {
        transform: scale(1.08);
      }
    }

    img {
      object-fit: cover;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      width: 100%;
      height: 100%;
    }
  }

  // .case-items__item-muted

  &__item-muted {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 10;

    font-weight: 400;
    font-size: 14px;
    color: #fff;

    max-width: 90%;
  }

  // .case-items__item-title

  &__item-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    color: #000;
    margin: 26px 0 24px 0;
  }

  // .case-items__list

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    padding: 26px 0 0 0;
    margin: 26px 0 0 0;
    border-top: 1px solid #0000002b;
  }

  // .case-items__list-item

  &__list-item {
    p {
      font-weight: 400;
      font-size: 14px;
      color: #000;
    }
    h5 {
      font-weight: 700;
      font-size: 20px;
      color: #000;
      margin-top: 8px;
    }
  }
}
