.cool {
  margin-top: 70px;

  @media (max-width: 640px) {
    margin-top: 40px;
  }

  .title {
    margin-top: 0;
  }
  // .cool__inner

  &__inner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
    gap: 120px;

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
}

.cool-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media (max-width: 640px) {
    gap: 12px;
    grid-template-columns: 1fr;
  }
  // .cool-items__item

  &__item {
    padding: 24px;
    border-radius: 12px;

    background-color: var(--gray-black);
  }

  // .cool-items__item-title

  &__item-title {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
  }

  // .cool-items__item-muted

  &__item-muted {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-top: 14px;
  }

  // .cool-items__item-subtitle

  &__item-subtitle {
    margin-top: 60px;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
  }
}

.cool-items__item.invent {
  border: 1px solid #eee;
  border-radius: 12px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .cool-items__item-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 145%;
    text-transform: uppercase;
    color: var(----black);

    margin-bottom: 60px;
  }
}
