.faq {
  &__inner {
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__list-item {
    padding: 24px 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }

  &__list-btn {
    font-weight: 500;
    font-size: clamp(0.875rem, 0.82rem + 0.2vw, 1rem);
    text-transform: uppercase;
    cursor: pointer;
    color: #000;


    &.active {
      padding-bottom: 24px;
    }
  }

  &__list-subtitle {
    font-weight: 400;
    font-size: clamp(0.875rem, 0.765rem + 0.4vw, 1.125rem);
    line-height: 165%;
    color: var(----black);

    max-height: 0;
    overflow: hidden;

    transition: max-height 0.28s ease;

    &.active {
      border-top: 1px solid rgb(215, 215, 215);
      padding: 20px 0 0 0;
    }
  }
}
