.footer {
  background-color: var(----black);

  margin: 70px 0 0 0;

  padding: 60px 0 40px 0;
  position: relative;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 4fr;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      align-items: center;
      gap: 40px;
    }

    @media (max-width: 440px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.nav-title {
  font-weight: 600;
  font-size: 22px;
  color: #fff;
}

.footer-content {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  max-width: 80%;
  margin-left: auto;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  @media (max-width: 440px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;

    max-width: 240px;

    &-link {
      font-weight: 400;
      font-size: 14px;
      color: #fff;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.footer__logo {
  @media (max-width: 768px) {
    margin: 0 auto;
    display: block;
  }
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;

  text-align: center;

  padding: 40px 0 0 0;
  border-top: 1px solid #ffffff38;
  margin-top: 60px;
}

.f-circle-1 {
  position: absolute;
  bottom: -4px;
  left: -4px;

  @media (max-width: 440px) {
    bottom: -44px;
    left: -44px;
  }
}
.f-circle-2 {
  position: absolute;
  right: -4px;
  top: -4px;
}
