.header {
  position: absolute;
  width: 100%;
  top: 30px;
  z-index: 10;

  @media (max-width: 440px) {
    top: 20px;
  }

  .end {
    @media (max-width: 1080px) {
      display: none;
    }
    // .end__line

    &__line {
      display: block;

      margin: 0 20px;

      @media (max-width: 1280px) {
        display: none;
      }
    }
  }

  .container {
    position: relative;
  }
  // .header__inner

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__logo

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .header__list

  &__list {
    display: flex;
    align-items: center;
    gap: 64px;

    @media (max-width: 1280px) {
      gap: 50px;
    }

    @media (max-width: 1080px) {
      background-color: #fff;
      z-index: 111;

      flex-direction: column;
      align-items: center;
      gap: 0;
      justify-content: flex-start;

      padding: 0;

      overflow: auto;
      width: 100%;
    }
  }

  // .header__list-item

  &__list-item {
    @media (max-width: 1080px) {
      display: inline-flex;
      width: 100%;

      &:nth-child(1) {
        .header__list-link {
          padding-top: 0;
        }
      }

      .js-menu-trigger {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  // .header__list-link

  &__list-link {
    font-weight: 400;
    font-size: 14px;
    color: #fff;

    @media (max-width: 1080px) {
      color: var(----black);

      padding: 24px 10px;
      border-bottom: 1px solid #cdcdcd;
      display: inline-flex;
      width: 100%;
      font-size: 16px;
    }

    span {
      svg {
        width: 12px;
        height: 12px;

        @media (max-width: 1080px) {
          path {
            stroke: var(----black);
          }
        }
      }
    }

    &:hover {
      opacity: 0.6;
    }
  }
}

.header-action {
  display: flex;
  align-items: center;

  // .header-action__info

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 6px;

    @media (max-width: 1280px) {
      display: none;
    }
  }

  // .header-action__info-link

  &__info-link {
    font-weight: 700;
    font-size: 14px;
    color: #fff;

    &:hover {
      opacity: 0.6;
    }
  }

  // .header-action__contact

  &__contact {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  // .header-action__contact-icon

  &__contact-icon {
    border-radius: 100px;
    width: 44px;
    height: 44px;
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: var(----black);
      svg {
        path {
          stroke: #fff;
        }

        rect {
          stroke: #fff;
        }
      }
    }
  }
}

.header__list-link.drop {
  display: flex;
  align-items: center;
  gap: 4px;

  svg {
    position: relative;
    top: 3px;
    left: 6px;
  }
}

.header__list-item {
}

.menu-navs {
  @media (max-width: 1080px) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(20px);

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(0);
    }
  }

  .static-btn {
    display: flex;
  }

  .static-btn-hd {
    display: none;

    @media (max-width: 1080px) {
      display: flex;
    }
  }

  .menu-nav__top {
    display: none;
  }

  @media (max-width: 1080px) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background-color: #fff;
    z-index: 111;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    justify-content: space-between;

    padding: 20px 12px;
    gap: 34px;

    overflow: auto;
    border-radius: 0 !important;

    .static-btn {
      display: flex;
      width: 100%;

      .text {
        width: 100%;
      }

      .circle {
        min-width: 62px;
        min-height: 62px;
      }
    }

    .menu-nav__top {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}
