.hero {
  position: relative;
  height: 100vh;

  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0.4) 40%,
      rgba(0, 0, 0, 0.7) 100%
    );

    z-index: 1;
  }

  &__inner {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    @media (max-width: 440px) {
      padding: 15% 0 0 0;
    }
  }
}

.hero-content {
  @media (min-width: 1080px) {
    margin: 6% 0 0 0;
  }
  // .hero-content__title

  &__title {
    font-weight: 400;
    font-size: clamp(1.75rem, 1.09rem + 2.4vw, 3.25rem);
    line-height: 145%;
    text-transform: uppercase;
    color: #fff;
  }

  // .hero-content__subtitle

  &__subtitle {
    font-weight: 400;
    font-size: clamp(0.875rem, 0.765rem + 0.4vw, 1.125rem);
    line-height: 155%;
    color: #fff;

    max-width: 540px;

    margin: 14px 0 24px 0;
  }

  // .hero-content__btn

  &__btn {
  }
}
.hero-plus {
  display: flex;
  align-items: center;
  gap: 20px;

  flex-wrap: wrap;

  margin: 30px 0 0 0;
  padding: 30px 0 0 0;
  // .hero-plus__item

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  // .hero-plus__item-icon

  &__item-icon {
  }

  // .hero-plus__item-title

  &__item-title {
    font-weight: 600;
    font-size: clamp(0.75rem, 0.695rem + 0.2vw, 0.875rem);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
  }

  // .hero-plus__item-subtitle

  &__item-subtitle {
    font-weight: 400;
    font-size: clamp(0.625rem, 0.57rem + 0.2vw, 0.75rem);
    letter-spacing: 0.04em;
    color: #fff;
    margin-top: 4px;
  }
}
.hero-plus {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 1px; // толщина бордера

    background: linear-gradient(
      to right,

      rgba(255, 255, 255, 0.4) 100%,
      rgba(162, 162, 162, 0.1) 0%
    );

    z-index: 5;
    max-width: 50%;

    @media (max-width: 440px) {
      max-width: 100%;
    }
  }
}
