@import "./reset.scss";
@import "./animation.scss";

@import "./header.scss";
@import "./hero.scss";
@import "./service-carousel.scss";
@import "./service.scss";
@import "./service-seo.scss";
@import "./plus.scss";
@import "./team.scss";
@import "./banner.scss";
@import "./form.scss";
@import "./niches.scss";
@import "./seo-text.scss";
@import "./swiper-blog.scss";
@import "./faq.scss";
@import "./blog.scss";
@import "./menu.scss";
@import "./algorytm.scss";
@import "./breadcrumps.scss";
@import "./cool.scss";
@import "./case-plus.scss";
@import "./case.scss";
@import "./pagination.scss";
@import "./blogs.scss";
@import "./template.scss";
@import "./footer.scss";
