.plus {
  // .plus__inner

  &__inner {
  }
}
.container {
}
.title {
}
.subtitle {
}
.plus-content {
  .top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    margin-bottom: 20px;

    @media (max-width: 1080px) {
      gap: 10px;
      grid-template-columns: 1fr;
    }
  }

  .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @media (max-width: 1080px) {
      gap: 10px;
      grid-template-columns: 1fr;
    }

    .plus-content__item {
      p {
        max-width: 380px;
      }
    }
  }

  // .plus-content__item

  &__item {
    background-color: var(--gray-black);
    padding: 24px;
    border-radius: 12px;
    position: relative;
    cursor: pointer;

    transition: 0.2s ease-in-out;

    color: #fff;
    position: relative;

    .icon {
      position: absolute;
      right: 24px;
      top: 24px;
    }
  }

  // .plus-content__item-count

  &__item-count {
    font-weight: 600;
    font-size: 12px;
    color: var(----black);

    background-color: #fff;
    padding: 6px 14px;
    border-radius: 6px;
  }

  // .plus-content__item-title

  &__item-title {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;

    margin-top: 130px;
  }

  // .plus-content__item-subtitle

  &__item-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-top: 16px;
  }
}
