@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

.wrapper {
  overflow-x: hidden;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.btn-reset {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.input-reset {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

// Custom

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
