.service-seo {
  &__inner {
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }
  }
}

.service-seo__content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;

  align-items: center;

  @media (max-width: 1280px) {
    gap: 60px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .text {
    p {
      margin-bottom: 24px;
      font-size: 16px;

      @media (max-width: 768px) {
        margin-bottom: 12px;
        font-size: 14px;
      }
    }
  }
}

.muted-b {
  position: absolute;
  top: 40%;
  transform: translateY(-60%);
  right: 0;

  @media (max-width: 768px) {
    transform: translateY(-50px) scale(0.6);
    position: relative;
  }

  .muted-b-green {
    border-radius: 6px;
    width: 71px;
    height: 71px;
    background: var(----black);

    position: absolute;
    right: 10px;
    top: 0;
  }
  .muted-b-gray {
    border-radius: 6px;
    width: 71px;
    height: 71px;
    background: #caf318;
    transform: rotate(75deg);

    position: absolute;
    right: 40px;
    top: 30px;
    z-index: 1;
  }
}

.images {
  display: flex;
  align-items: center;
  gap: 10px;

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      &:nth-child(1) {
        max-width: 356px;
        width: 100%;

        transform: translateY(-20px) translateX(-20px);
      }

      &:nth-child(2) {
        max-width: 260px;
        width: 100%;
        display: block;
        margin-left: auto;

        transform: translateY(20px) translateX(-20px);
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 180px;

    @media (max-width: 768px) {
      margin-top: 0;
    }

    img {
      &:nth-child(1) {
        max-width: 230px;
        width: 100%;
        transform: translateY(-20px) translateX(20px);
      }

      &:nth-child(2) {
        max-width: 150px;
        width: 100%;
        display: block;
        margin-right: auto;

        transform: translateY(20px) translateX(20px);
      }
    }
  }
}

.images img {
  will-change: transform;
}
