.team {
  // .title {
  //   @media (max-width: 440px) {
  //     padding: 0 12px;
  //   }
  // }
  // .subtitle {
  //   @media (max-width: 440px) {
  //     padding: 0 12px;
  //   }
  // }
  .container {
    @media (max-width: 440px) {
      padding: 0 0 0 12px;
    }
  }
}

.team-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  @media (max-width: 1080px) {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
  // .team-content__item

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    max-height: 416px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  // .team-content__user

  &__user {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    max-width: 332px;
    width: 100%;
    bottom: 25px;

    border-radius: 12px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    padding: 20px;
  }

  // .team-content__user-title

  &__user-title {
    font-weight: 700;
    font-size: 18px;
    color: #000;
  }

  // .team-content__user-subtitle

  &__user-subtitle {
    font-weight: 400;
    font-size: 14px;
    color: #424242;
    margin-top: 6px;
  }
}

.team-content__item:hover {
  img {
    transform: scale(1.04);
  }
}

@media (max-width: 440px) {
  .team-content {
    display: flex;
    gap: 12px;
    padding-right: 12px;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    /* скрываем скролл */
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .team-content__item {
    flex: 0 0 85%;
    max-height: 380px;

    scroll-snap-align: center;
  }

  .team-content__user {
    bottom: 15px;
    padding: 16px;
    max-width: 90%;
  }

  .team-content__user-title {
    font-size: 16px;
  }

  .team-content__user-subtitle {
    font-size: 13px;
  }
}
