.team {
  // .team__inner

  &__inner {
  }
}
.container {
}
.title {
}
.subtitle {
}
.team-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  @media (max-width: 1080px) {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
  // .team-content__item

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    max-height: 416px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  // .team-content__user

  &__user {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    max-width: 332px;
    width: 100%;
    bottom: 25px;

    border-radius: 12px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    padding: 20px;
  }

  // .team-content__user-title

  &__user-title {
    font-weight: 700;
    font-size: 18px;
    color: #000;
  }

  // .team-content__user-subtitle

  &__user-subtitle {
    font-weight: 400;
    font-size: 14px;
    color: #424242;
    margin-top: 6px;
  }
}

.team-content__item:hover {
  img {
    transform: scale(1.04);
  }
}
